body {
  width: 1024px;
  height: 790px;
  text-align: center;
}

#main {
  margin: 64px auto 64px;
}

h1 {
  margin-top: 32px;
  font-family: "Dosis", sans-serif;
  color: #3f3d56;
  font-size: 32px;
  font-weight: 500;
}

h1 span {
  font-weight: 700;
  color: #ee24ff;
}

p {
  margin-left: 249px;
  width: 540px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #828282;
}

p .marketing {
  margin: 16px auto 32px;
}

p strong {
  color: #3f3d56;
}

.footer-line {
  width: 391px;
  margin: 64px auto 16px;
  border: 1px solid #eceff2;
}

#footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #3f3d56;
  text-decoration: none;
}

#footer a + a {
  margin-left: 42px;
}

#wave {
  margin-top: 40.83px;
}
