/* css segue o conceito de box-model, isso quer dizer que, 
tudo que temos de elementos para o css, é considerado uma caixa */

/* nas caixas, temos as propriedades de largura, altura, conteúdo, espaçamento ao seu redor,
bordas, dentro dela tem-se também, o preenchimento */

/* box-sizing: border-box; - faz com que a largura e altura do elemento seja considerada*/
/*
body {
  margin: 0;  isso retira a margem padrão colocada pelo navegador 
  padding: 80px;  isso altera o preenchimento padrão colocado pelo navegador 
  flex-direction: column;  altera a orienteção dos elementos
}

.page {
  border: 1px solid #000;
  margin: 8px;
  padding: 29px;  isso faz com que tenha um preenchimento interno da borda 
}
*/

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* linear-gradient(rotação inicial da cor em grau, cor-aplicada  transparência, cor-aplicada2  transparência) */
  background: linear-gradient(180deg, #ffffff 0%, #e3fff8a4 100%);
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto 0;
  padding-top: 65px;
}

/* O header é considerado um flex-box, portanto, o eixo principal é chamado de 'main axis' */
nav {
  /* display: flex faz com que toda box de dentro desse elemento se ajuste ao 
  lado do outro */
  display: flex;
  justify-content: space-between;
  align-items: center; /* alinha os itens ao centro, no mesmo eixo */
  margin-bottom: 58px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

ul li a {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
}

/* os ':' após a tag, significa que é uma 'pseudo class', isto é, indica um
estado específico para uma situação no elemento */
ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 58px 153px 140px 119px;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #105070;
}

h1 span {
  color: #89c5cc;
}

section p {
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;
  color: #7d7987;
}

button {
  background: #69b99d;
  border: none;
  border-radius: 4px;
  padding: 14px 32px 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  color: #f9f9f9;
  font-size: 16px;
  font-weight: normal;
}

button:hover {
  background: #4fad8c;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 82px;
  margin-bottom: 0;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #1f1534;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
